<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">Messages</h1>

  <div class="row booyah-box col-xs-10 col-xs-offset-1">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <%= mailbox_section 'inbox', @box %>
        <%= mailbox_section 'sent', @box %>
        <%= mailbox_section 'trash', @box %>
      </ul>
    </div>

    <div class="col-sm-9">
    <% if @box == 'trash' %>
      <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                     data: {confirm: 'Are you sure?'} %></p>
    <% end %>
    <ul class="list-group">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </ul>

    <%= will_paginate %>
    </div>
  </div>
  <br />
  <br />
  <br />

  <p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary col-xs-8 col-xs-offset-2' %></p>
  <br />
  <br />
</div>
<br class="clr"/>