<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= render 'conversations/participants', conversation: @conversation %></h1>
  <br />
  <div class="panel panel-default">
    <div class="panel-heading"><%= @conversation.subject %></div>

    <div class="panel-body">
      <div class="messages">
        <% @conversation.receipts_for(current_user).order(:created_at).each do |receipt| %>
          <div class="media">
            <% message = receipt.message %>
            <div class="media-left">
              <u><%= message.sender.username + ":" %></u>
            </div>

            <div class="media-body">
              <h6 class="media-heading pull-right"><%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
              <% if message.sender.username == current_user.username %>
                <div class="from-me-two"><%= simple_format(message.body) %></div>
              <% else %>
                <div class="from-them-two"><%= simple_format(message.body) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, rows: 4, class: 'form-control', id:'summernote', required: true, placeholder: 'Reply to conversation' %>
    </div>
    <%= submit_tag "Send Message", class: 'btn btn-primary col-xs-12' %>
  <% end %>
  <br />
  <br />
</div>