<div class="col-xs-6 col-xs-offset-3">
  <h3>My Games</h3>
  <i>logged in as <%= current_user.email %></i>
  <br />
  <br />
  
  <strong>As White Player:</strong>
  <br />
  <% @games.each do |game| %>
    <% if game.player_white_id == current_user.id %>
      <% if game.ready_to_play? %>
        <%= link_to "Game Name: #{game.name}", game_path(game) %>
      <% elsif game.pending_opponent?%>
        <%= link_to "#{game.name} is awaiting an opponent, invite a friend to play!", new_game_invite_path(game) %>
      <% end %>
      <br />
    <% end %>
  <% end %>

  <br />
  <strong>As Black Player:</strong>
  <br />
  <% @games.each do |game| %>
    <% if game.player_black_id == current_user.id %>
      <%= link_to "Game Name: #{game.name}", game_path(game) %>
      <br />
    <% end %>
  <% end %>

  <br />
  <strong>Pending Invitations:</strong>
  <br />
  <% @games.each do |game| %>
    <% if game.invites.present? && game.invites.last.recipient_id == current_user.id %>
      <%= "Game Name: #{game.name}" %>
      <%= simple_form_for game do |f| %>
        <%= f.hidden_field :player_black_id, value: current_user.id %>
        <%= f.submit 'Join Game', class: 'btn btn-info btn-sm' %>
      <% end %>
      <%= link_to 'No Thanks', game_invite_path(@game), method: :delete,
        data: {confirm: 'Are you sure you want to reject this challenge?'},
        class: 'btn btn-danger btn-sm' %>
      <br />
    <% end %>
  <% end %>
</div>


