<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= "#{current_user.username}'s" %> Games</h3>
  <br />
  
  <strong><u>As White Player:</u></strong>
  <br />
  <% @games.each do |game| %>
    <% if game.player_white_id == current_user.id %>
      <% if game.ready_to_play? %>
        <%= link_to "Game Name: #{game.name}", game_path(game) %>
      <% elsif game.pending_opponent?%>
        <%= "#{game.name} is awaiting an opponent" %>
      <% end %>
      <br />
    <% end %>
  <% end %>

  <br />
  <strong><u>As Black Player:</u></strong>
  <br />
  <% @games.each do |game| %>
    <% if game.player_black_id == current_user.id %>
      <%= link_to "Game Name: #{game.name}", game_path(game) %>
      <br />
    <% else %>
      <%= "Not applicable yet" %>
    <% end %>
  <% end %>

  <br />
  <br />
  <strong><u>Games won:</u></strong>
  <br />
  <% @games.each do |game| %>

  <% end %>

  <br />
  <br />
  <strong><u>Games played:</u></strong>

  <br />
  <br />
  <strong><u>Win Percentage:</u></strong>
</div>