<table class="chessboard">
  <% 8.times do |row| %>
    <tr>
      <% 8.times do |column| %>
        <% piece = Piece.where(x_cord: column, y_cord: row, game_id: @game).first %>
        <% if piece %>
          <td class="<%= 'highlighted' if @piece == piece %>" data-row="<%= row %>" data-column="<%= column %>">
              <div class="content piece" data-piece_id="<%= piece.id %>">
                <%= link_to edit_game_piece_path(@piece.id), { new_x: column, new_y: row } %>
              </div>
          </td>
        <% else %>
          <td data-row="<%= row %>" data-column="<%= column %>">
            <div class="content">&nbsp;</div></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>