<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">Join a Game</h1>
    <br />
    <% @games.each do |game| %>
      <% if game.pending_opponent? && game.player_white_id != current_user.id %>
        <u><%= "Game Name:"%></u><%= " #{game.name}" %> 
        <br />
        <%= "White Player: #{game.white_player.email}" %>
        <%= simple_form_for game do |f| %>
          <%= f.hidden_field :player_black_id, value: current_user.id %>
          <br />
          <%= f.submit 'Join this game', class: 'btn btn-info btn-sm' %>
        <% end %>
        <br />
      <% end %>
    <% end %>
</div>
