
<h3><%= "Game Name: #{@game.name}" %></h3>
<h4><%= "Current Turn: #{@game.current_turn}" %></h4>
<br />

<i><%= "White Player: #{@game.white_player.email}" %></i>

<table class="chessboard">
  <% 8.times do |row| %>
    <tr>
      <% 8.times do |column| %>
        <% piece = @game.pieces.where(x_cord: column, y_cord: row).first %>
        <% if piece %>
          <td data-row="<%= row %>" data-column="<%= column %>">
              <div class="content piece" data-piece_id="<%= piece.id %>">
                <%= link_to piece.image, game_piece_path(game_id: @game, id: piece.id) %>
              </div>
          </td>
        <% else %>
          <td data-row="<%= row %>" data-column="<%= column %>">
            <div class="content">&nbsp;</div></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @game.black_player.present? %>
  <i><%= "Black Player: #{@game.black_player.email}" %></i>
<% else %>
  <i>You need an opponent! Invite a friend to play.</i>
  <%= simple_form_for @invite, url: game_invites_path(@game) do |f| %>
    <%= f.association :recipient, label: 'Choose a player to invite',collection: User.all(order: 'email'), label_method: :email, value_method: :id %>
    <%= f.submit 'Send' %>
  <% end %>
  
<% end %>