<script>
  $(function() {
    $('.piece').draggable({
      containment: ".chessboard"


    });
  });
</script>


<table class="chessboard">
  <% 8.times do |row| %>
    <tr>
      <% 8.times do |column| %>
        <% piece = @game.pieces.where(x_cord: column, y_cord: row).first %>
        <% if piece %>
          <td data-row="<%= row %>" data-column="<%= column %>">
              <div class="content piece" data-piece_id="<%= piece.id %>">
                <%= link_to piece.image, game_piece_path(game_id: @game, id: piece.id) %>
              </div>
          </td>
        <% else %>
          <td data-row="<%= row %>" data-column="<%= column %>">
            <div class="content">&nbsp;</div></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>